{{#partial "content"}}

    <div class="container">
    <ul>
    <li><a href="/">Home Page </a></li>
    <li><a href="/departments/">List all Departments</a></li>
    <li><a href="/departments/:id">Display details of a specific Department</a></li>
    <li><a href="/departments/:id/users">Display users from a specific Department</a></li>
    <li><a href="/departments/:id/news">Display news from a specific Department</a></li>
    <li><a href="/users">List all Users</a></li>
    <li><a href="/users/:id">Display details of a specific User</a></li>
    <li><a href="/generalnews">List all News</a></li>
    <li><a href="/news/:id">Display details of a specific News</a></li>
    <li><a href="/departments/new">Add new department to a specific Department</a></li>
    <li><a href="/departments/:id/users/new">Add new user to a specific Department</a></li>
    <li><a href="/departments/:id/news/new">Add new news to a specific Department</a></li>

    </ul>

</div>
{{/partial}}

{{>layout.hbs}}