{{#block "header"}}

    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{#block "title"}}Scoped-News{{/block}}</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="/">Home</a></li>
        <li role="presentation"><a href="/users/new">Add New User</a></li>
        <li role="presentation"><a href="/departments/new">Add department</a></li>
        <li role="presentation"><a href="/generalnews/new">Add General News</a></li>
        <li role="presentation"><a href="/departments/:id/news/new">Add Departmental News</a></li>

    </ul>
{{/block}}
<div class="page-header">
    <div class="container">
    <div class="row">

        <div class="col-md-4">
            <h1>Scoped News API</h1>
        </div>

    </div>
</div>
</div>

        {{#block "content"}}

        {{/block}}
    </div>


</div>

{{#block "footer"}}
    </div>
    </body>
    </html>
{{/block}}